# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
user.db

# dotenv environment variables
.env

# Streamlit specific
.streamlit/

# VSCode or IDE-specific
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
